<div class="col-md-8">
    <% if current_user.thoughts.any? %>
      <h3> Your Thoughts (<%= current_user.thoughts.count %>)</h3>
      <%= will_paginate %>
      <ol class="thoughts">
        <%= render @thoughts %>
      </ol>
      <%= will_paginate %>
    <% end %>
</div>